/* Contents
Login and Register - Line 46
Spinner - Line 178
Log - Line 196



*/
@font-face {
  font-family: "Cute Font";
  src: url("../Fonts/cutefont-regular-webfont.woff2");
}
html {
  height: 100%;
  font-family: "Cute Font";
}

button {
  font-family: "Cute Font";
}

body {
  height: 100%;
  background-color: #c1c1c1;
  margin: 0;
}

h1::selection, label::selection, p::selection {
  background-color: #c1c1c1;
}

h1 {
  font-size: 48px;
  margin: 0;
  margin-left: 25px;
  color: white;
}

.navbar {
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: #353535;
  display: flex;
}

/* Login and Register Pages */
.login_container {
  width: 620px;
  background-color: #353535;
  height: 500px;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.login_container h1 {
  margin: 0;
  align-self: center;
  text-align: center;
}
.login_container div {
  display: flex;
  align-items: center;
}
.login_container div > label {
  color: white;
  font-size: 48px;
  margin: auto 30px;
}
.login_container div > input {
  width: 370px;
  border: none;
  height: 60px;
  border-radius: 5px;
  font-family: "Cute font";
  text-indent: 1ch;
  background-color: #c1c1c1;
  font-size: 48px;
  vertical-align: middle;
  outline: invert;
}
.login_container div > input:focus {
  outline: black solid 5px;
}
.login_container div > input::selection {
  background-color: black;
  color: #c1c1c1;
}
.login_container .show_password {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: -40px;
  outline: none;
  user-select: none;
  z-index: 10;
  background-image: url("../Images/eye.svg");
}
.login_container .eye_shut {
  background-image: url("../Images/closed-eye.svg");
}
.login_container .button_container {
  display: flex;
  justify-content: space-evenly;
}
.login_container .button_container .login_register {
  width: 275px;
  height: 60px;
  border: #c1c1c1 solid 5px;
  background-color: transparent;
  font-size: 48px;
  color: white;
}
.login_container .button_container .login_register:hover {
  background-color: #555;
}
.login_container .button_container .to_register_login {
  width: 240px;
  height: 60px;
  background-color: transparent;
  font-size: 48px;
  color: white;
  border: 5px #c1c1c1 solid;
}
.login_container .button_container .to_register_login:hover {
  background-color: #555;
}

.login_loading {
  font-size: 32px;
  color: white;
  display: flex;
  margin-left: 20px;
  align-items: center;
  gap: 20px;
}
.login_loading p {
  margin: 0;
}

.preload {
  visibility: hidden;
}
.preload .eye_shut {
  background-image: url("../Images/closed-eye.svg");
}

/* Move to it's own file: Spinner | Component */
.spinner {
  border: 2px transparent solid;
  border-top-color: #c1c1c1;
  border-right-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: loading infinite 0.5s linear;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
/* Log */
.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar.log {
  color: white;
}
.navbar.log h1 {
  margin-right: 30px;
}
.navbar.log div h2 {
  font-size: 32px;
  margin: 0;
}
.navbar.log .center_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.navbar.log .center_text.h2:hover {
  background-color: #555;
  cursor: pointer;
}
.navbar.log .profile {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.navbar.log .profile .dropstem {
  z-index: 20;
  height: 100%;
  background-color: #353535;
  display: flex;
  align-items: center;
}
.navbar.log .profile h3 {
  font-size: 24px;
  margin: 0;
  background-color: #353535;
  z-index: 100;
}
.navbar.log .profile:hover .dropdown {
  pointer-events: all;
  transform: translateY(150px);
  z-index: 1;
}
.navbar.log .profile .dropdown {
  z-index: 1;
  pointer-events: none;
  font-size: 32px;
  position: absolute;
  right: 0;
  top: -100px;
  height: 100px;
  width: 180px;
  text-align: center;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  transition: transform 0.3s;
}
.navbar.log .profile .dropdown .log_out {
  background-color: #353535;
  border: none;
  height: 50px;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar.log .profile .dropdown .log_out .spinner {
  height: 30px;
  width: 30px;
}
.navbar.log .profile .dropdown .log_out:hover {
  background-color: #555;
}
.navbar.log .profile .dropdown div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar.log .profile .dropdown div:hover {
  background-color: #555;
}
.navbar.log .profile .dropdown .change_password {
  font-size: 24px;
}

.log_container {
  transition: margin-left 0.3s;
}

.active_filter {
  margin-left: calc(100% - 1000px);
}

.exercise_filter {
  transition: left 0.3s;
  position: fixed;
  width: calc(100% - 1000px);
  height: 100%;
  background-color: #353535;
  left: calc(-100% + 1000px);
  display: flex;
}
.exercise_filter.active_exercise_filter {
  left: 0px;
}
.exercise_filter .filter_set {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
  scrollbar-width: none;
}
.exercise_filter .filter_set::-webkit-scrollbar {
  display: none;
}
.exercise_filter .filter_set button {
  width: fit-content;
  font-size: 32px;
  color: white;
  background-color: #353535;
  border: none;
  border-radius: 5px;
}
.exercise_filter .filter_set button:hover {
  background-color: #555;
}

.filter_bar {
  width: 1000px;
  height: 50px;
  background-color: #353535;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.filter_bar h1 {
  margin-right: 20px;
}
.filter_bar label {
  font-size: 32px;
  color: white;
  padding-left: 20px;
  padding-right: 10px;
}
.filter_bar input {
  width: 135px;
  text-indent: 0.2ch;
  height: 30px;
  background-color: #c1c1c1;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Cute Font";
}
.filter_bar select {
  background-color: #c1c1c1;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  height: 30px;
  line-height: 3px;
  font-family: "Cute Font";
}
.filter_bar select option {
  font-family: "Cute Font";
}
.filter_bar button {
  color: white;
  font-size: 32px;
  font-family: "Cute Font";
  background-color: transparent;
  border: none;
  margin-right: auto;
  margin-left: auto;
}
.filter_bar button:hover {
  border-radius: 5px;
  background-color: #555;
}

.all_entries_container {
  width: 1000px;
  border: #353535 4px solid;
  background-color: #d9d9d9;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.entry_container {
  font-size: 32px;
  margin: auto;
  padding-top: 10px;
  width: 900px;
}
.entry_container .top_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.entry_container .top_line button {
  font-size: 32px;
  border: none;
  background-color: transparent;
}
.entry_container .top_line button:hover {
  background-color: #999;
  border-radius: 5px;
}
.entry_container .top_line button.delete {
  padding: 0 4px;
  background-color: #fd6363;
  border-radius: 5px;
}
.entry_container .top_line button.delete:hover {
  background-color: #fd0000;
}
.entry_container .exercise_line {
  display: flex;
  justify-content: space-around;
}

/*# sourceMappingURL=Style.css.map */
