/* Contents
Login and Register - Line 51
Spinner - Line 186
Log - Line 200
Add - Line 540
Table - Line 776
Graph - Line 888

*/
@font-face {
  font-family: "Cute Font";
  src: url("../Fonts/cutefont-regular-webfont.woff2");
}
html {
  height: 100%;
  font-family: "Cute Font";
  scrollbar-width: thin;
  font-size: 32px;
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
html::-webkit-scrollbar-track {
  background-color: #353535;
}

button {
  font-family: "Cute Font";
}

body {
  height: 100%;
  background-color: #c1c1c1;
  margin: 0;
}

h1::selection, label::selection, p::selection {
  background-color: #c1c1c1;
}

h1 {
  font-size: 48px;
  margin: 0;
  margin-left: 25px;
  color: white;
}

select {
  font-family: "Cute Font";
  font-size: 24px;
  background-color: #c1c1c1;
  border-radius: 5px;
  border: none;
}

button {
  font-size: 24px;
  border: black 1px solid;
  font-family: "Cute Font";
}

input {
  font-family: "Cute Font";
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
}

.navbar {
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: #353535;
  display: flex;
}

/* Login and Register Pages */
.login_container {
  width: 620px;
  background-color: #353535;
  height: 500px;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.login_container h1 {
  margin: 0;
  align-self: center;
  text-align: center;
}
.login_container div {
  display: flex;
  align-items: center;
}
.login_container div > label {
  color: white;
  font-size: 48px;
  margin: auto 30px;
}
.login_container div > input {
  width: 370px;
  border: none;
  height: 60px;
  border-radius: 5px;
  font-family: "Cute font";
  text-indent: 1ch;
  background-color: #c1c1c1;
  font-size: 48px;
  vertical-align: middle;
  outline: invert;
}
.login_container div > input:focus {
  outline: black solid 5px;
}
.login_container div > input::selection {
  background-color: black;
  color: #c1c1c1;
}
.login_container .show_password {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: -40px;
  outline: none;
  user-select: none;
  z-index: 10;
  background-image: url("../Images/eye.svg");
}
.login_container .eye_shut {
  background-image: url("../Images/closed-eye.svg");
}
.login_container .button_container {
  display: flex;
  justify-content: space-evenly;
}
.login_container .button_container .login_register {
  width: 275px;
  height: 60px;
  border: #c1c1c1 solid 5px;
  background-color: transparent;
  font-size: 48px;
  color: white;
}
.login_container .button_container .login_register:hover {
  background-color: #555;
}
.login_container .button_container .to_register_login {
  width: 240px;
  height: 60px;
  background-color: transparent;
  font-size: 48px;
  color: white;
  border: 5px #c1c1c1 solid;
}
.login_container .button_container .to_register_login:hover {
  background-color: #555;
}

.login_loading {
  font-size: 32px;
  color: white;
  display: flex;
  margin-left: 20px;
  align-items: center;
  gap: 20px;
}
.login_loading p {
  margin: 0;
}

.preload {
  visibility: hidden;
}
.preload .eye_shut {
  background-image: url("../Images/closed-eye.svg");
}

/* Move to it's own file: Spinner | Component */
.spinner {
  border: 2px transparent solid;
  border-top-color: #c1c1c1;
  border-right-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: loading infinite 0.5s linear;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
/* Log */
.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar.log {
  color: white;
}
.navbar.log h1 {
  margin-right: 30px;
}
.navbar.log div h2 {
  font-size: 32px;
  margin: 0;
}
.navbar.log .center_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.navbar.log .center_text.h2:hover {
  background-color: #555;
  cursor: pointer;
}
.navbar.log .profile {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navbar.log .profile .dropstem {
  cursor: pointer;
  z-index: 20;
  width: 180px;
  height: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar.log .profile h3 {
  font-size: 24px;
  margin: 0;
  background-color: #353535;
  z-index: 100;
}
.navbar.log .profile:hover .dropdown {
  pointer-events: all;
  transform: translateY(150px);
  z-index: 1;
}
.navbar.log .profile .dropdown {
  z-index: 1;
  pointer-events: none;
  font-size: 32px;
  position: absolute;
  right: 0;
  top: -100px;
  height: 100px;
  width: 180px;
  text-align: center;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  transition: transform 0.3s;
}
.navbar.log .profile .dropdown .log_out {
  background-color: #353535;
  border: none;
  margin: 0;
  height: 50px;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar.log .profile .dropdown .log_out .spinner {
  height: 30px;
  width: 30px;
}
.navbar.log .profile .dropdown .log_out:hover {
  background-color: #555;
}
.navbar.log .profile .dropdown div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar.log .profile .dropdown div:hover {
  background-color: #555;
}
.navbar.log .profile .dropdown .change_password {
  font-size: 24px;
  border-bottom-left-radius: 5px;
}
@media (width < 1380px) {
  .navbar.log div h2 {
    font-size: 24px;
  }
}

.log_container {
  transition: margin-left 0.3s;
}

.active_filter {
  margin-left: calc(100% - 1000px);
}

.exercise_filter {
  transition: left 0.3s;
  position: fixed;
  width: calc(100% - 1000px);
  height: 100%;
  background-color: #353535;
  left: calc(-100% + 1000px);
  display: flex;
}
@media (width < 1250px) {
  .exercise_filter {
    width: 250px;
    left: -250px;
  }
}
.exercise_filter.active_exercise_filter {
  left: 0px;
}
.exercise_filter .filter_set {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.exercise_filter .filter_set::-webkit-scrollbar {
  display: none;
}
.exercise_filter .filter_set button {
  width: fit-content;
  font-size: 32px;
  align-self: center;
  color: white;
  background-color: #353535;
  border: none;
  border-radius: 5px;
}
.exercise_filter .filter_set button:hover {
  background-color: #555;
}
.exercise_filter .filter_set label {
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

.filter_bar {
  width: 1000px;
  height: 50px;
  background-color: #353535;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.filter_bar h1 {
  margin-right: 20px;
}
.filter_bar label {
  font-size: 32px;
  color: white;
  padding-left: 20px;
  padding-right: 10px;
}
.filter_bar input {
  width: 135px;
  text-indent: 0.2ch;
  height: 30px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Cute Font";
}
.filter_bar select {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  height: 30px;
  line-height: 3px;
  font-family: "Cute Font";
}
.filter_bar select option {
  font-family: "Cute Font";
}
.filter_bar button {
  color: white;
  font-size: 32px;
  font-family: "Cute Font";
  background-color: transparent;
  border: none;
  margin-right: auto;
  margin-left: auto;
}
.filter_bar button:hover {
  border-radius: 5px;
  background-color: #555;
}

.all_entries_container {
  width: 1000px;
  border: #353535 4px solid;
  background-color: #d9d9d9;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.entry_container {
  font-size: 32px;
  margin: auto;
  padding-top: 10px;
  width: 900px;
}
.entry_container .top_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.entry_container .top_line button {
  font-size: 32px;
  border: none;
  background-color: transparent;
}
.entry_container .top_line button:hover {
  background-color: #999;
  border-radius: 5px;
}
.entry_container .top_line button.delete {
  padding: 0 4px;
  background-color: #fd6363;
  border-radius: 5px;
}
.entry_container .top_line button.delete:hover {
  background-color: #fd0000;
}
.entry_container .exercise_line {
  display: flex;
  justify-content: space-around;
}

.return_to_top {
  border-radius: 50%;
  background-color: #353535;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 50px;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Add component */
.exercise_list_container {
  background-color: #353535;
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
}

.exercise_list {
  color: white;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  height: calc(100% - 50px);
  margin-top: 50px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.exercise_list::-webkit-scrollbar {
  display: none;
}
.exercise_list label {
  color: white;
}

.add_spinner {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: 10px;
}
.add_spinner .spinner {
  border-top-color: #353535;
  border-right-color: black;
  padding: 0;
}

.add_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 250px);
}
.add_container div {
  padding: 2px 0;
}
.add_container label {
  font-size: 32px;
  color: black;
  padding-left: 20px;
  padding-right: 10px;
}
.add_container input {
  text-indent: 0.2ch;
  height: 30px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  font-size: 32px;
  font-family: "Cute Font";
}
.add_container .exercise_fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px #353535 solid;
  background-color: #d9d9d9;
  margin-bottom: -4px;
}
.add_container .exercise_fieldset input, .add_container .exercise_fieldset select {
  background-color: #c1c1c1;
  text-indent: 0.5ch;
  width: 5ch;
}
.add_container .exercise_fieldset button {
  background-color: #c1c1c1;
  border-radius: 5px;
  font-size: 28px;
}
.add_container .exercise_fieldset input.variation {
  text-indent: 1ch;
  width: 12ch;
}
.add_container .exercise_fieldset .number_container {
  width: 100%;
}
.add_container .exercise_fieldset .number_container .macro_container .top_line {
  display: flex;
  justify-content: center;
}
.add_container .exercise_fieldset .number_container .macro_container .bottom_line {
  display: flex;
  justify-content: center;
}
.add_container .exercise_fieldset .number_container .macro_container input, .add_container .exercise_fieldset .number_container .macro_container select {
  width: fit-content;
  font-family: "Cute Font";
  font-size: 32px;
  border-radius: 5px;
  width: 9ch;
}
.add_container .exercise_fieldset .number_container .set_line {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}
.add_container .exercise_fieldset .template_container {
  width: 100%;
}
.add_container .exercise_fieldset .template_line {
  padding-left: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.add_container .exercise_fieldset .template_line select, .add_container .exercise_fieldset .template_line option {
  font-family: "Cute Font";
  font-size: 25px;
  width: fit-content;
}
.add_container .exercise_fieldset .template_line .tag_container {
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
  display: inline-block;
}
.add_container .exercise_fieldset .template_line .tag_container::-webkit-scrollbar {
  display: none;
}
.add_container .exercise_fieldset .custom_container {
  display: flex;
  justify-content: center;
}
.add_container form {
  max-width: 1000px;
  width: calc(100% - 250px);
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_container form .add_submit {
  width: fit-content;
  border-radius: 5px;
  border: #353535 2px solid;
  background-color: #5fb95f;
  font-size: 32px;
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.add_container form .date_container label h1 {
  margin: 0 auto;
  width: fit-content;
}
.add_container form .date_container input {
  height: fit-content;
}
.add_container .return_to_top.add_component {
  left: 270px;
  right: 20px;
}
.add_container h1 {
  color: black;
}

/* Tonnage section */
.tonnage_container {
  width: 100%;
}

.tonnage_table_container {
  height: calc(100% - 250px);
  margin-left: 230px;
  color: black;
  transition: margin-left 0.3s;
}
.tonnage_table_container .tableGridContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.tonnage_table_container .tableGridContainer.top_line {
  border-bottom: #353535 5px solid;
}
.tonnage_table_container strong {
  margin-left: 5px;
}
.tonnage_table_container.active_tonnage_table_container {
  margin-left: 0;
}
.tonnage_table_container .sidebar {
  top: 0;
  position: fixed;
  background-color: #353535;
  height: 100%;
  width: 230px;
  left: 0;
  transition: left 0.3s;
}
.tonnage_table_container .options_container {
  overflow-y: auto;
  scrollbar-width: thin;
  color: white;
  margin-top: 50px;
  height: calc(100% - 50px);
}
.tonnage_table_container .options_container::-webkit-scrollbar {
  width: 5px;
}
.tonnage_table_container .options_container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
.tonnage_table_container .options_container.active_options_container {
  left: -230px;
}
.tonnage_table_container .options_container fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  padding-left: 5px;
}
.tonnage_table_container .options_container fieldset button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 32px;
}
.tonnage_table_container .options_container fieldset label {
  font-size: 32px;
}
.tonnage_table_container .options_container fieldset div > label {
  font-size: 24px;
}
.tonnage_table_container .options_container fieldset select {
  background-color: #d9d9d9;
}
.tonnage_table_container .options_container fieldset input {
  background-color: #d9d9d9;
  font-family: "Cute Font";
  font-size: 24px;
  text-indent: 0.5ch;
  border: none;
  border-radius: 5px;
}
.tonnage_table_container .options_container fieldset input[maxLength="2"] {
  width: 3ch;
}
.tonnage_table_container .options_container fieldset .filter button {
  font-size: 24px;
}

/* Graph section */
.graph_page_container {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
  align-items: center;
  justify-content: center;
}
.graph_page_container fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
}
.graph_page_container fieldset .data_range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.graph_page_container fieldset.bottom_line {
  margin-right: 1%;
}

.graph_page_container_2 {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.graph_page_container_2 select {
  background-color: #d9d9d9;
}
.graph_page_container_2 input {
  background-color: #d9d9d9;
  font-size: 22px;
}
.graph_page_container_2 .top_line {
  display: flex;
  justify-content: space-around;
  margin-left: 1%;
}
.graph_page_container_2 .top_line.variations {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.graph_container {
  background-color: #d9d9d9;
  padding: 10px;
  border-top: #353535 5px solid;
  overflow: auto;
  scrollbar-width: none;
  width: auto;
  max-width: 100%;
  height: 100%;
}
.graph_container::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=Style.css.map */
