/* Contents
Login and Register - Line 51
Spinner - Line 186
Log - Line 200
Add - Line 540

*/



@font-face {
    font-family: "Cute Font";
    src: url("../Fonts/cutefont-regular-webfont.woff2");
}
html {
    height:100%;
    font-family: "Cute Font";
    scrollbar-width:thin;
    font-size: 32px;
}

button {
    font-family: "Cute Font"
}

body {
    height: 100%;
    background-color:#c1c1c1;
    margin: 0;
   
}

h1::selection, label::selection, p::selection {
    background-color: #c1c1c1;
}

h1 {
    font-size: 48px;
    margin:0;
    margin-left: 25px;
    color: white;
}

.navbar {
    z-index:1000;
    width: 100%;
    height: 50px;
    background-color: #353535;
    display:flex;
}

/* Login and Register Pages */

.login_container {
    width: 620px;
    background-color:#353535;
    height: 500px;
    border-radius: 10px;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    h1 {
        margin:0;
        // margin-top: 20px;
        align-self:center;
        text-align: center;
    }

    div {
        display: flex;
        align-items: center;
    }

    div > label {
        color: white;
        font-size: 48px;
        margin: auto 30px;
    }
    div > input {
        width: 370px;
        border: none;
        height: 60px;
        border-radius:5px;
        font-family: "Cute font";
        text-indent: 1ch;
        background-color: #c1c1c1;
        
        font-size:48px;
        vertical-align: middle;

        outline:invert;

        &:focus {
            outline:black solid 5px;
        }

        &::selection {
            background-color:black;
            color:#c1c1c1;
        }

    }

    .show_password {
        width: 25px;
        height:25px;
        background-color:transparent;
        border:none;
        position: relative;
        margin-left:-40px;
        outline: none;
        user-select:none;
        z-index: 10;
        background-image:url("../Images/eye.svg");
    }
    .eye_shut {
        background-image:url("../Images/closed-eye.svg");
    }

    

    .button_container {

        display: flex;
        justify-content: space-evenly;

        .login_register {
            width: 275px;
            height: 60px;
            border: #c1c1c1 solid 5px;
            background-color: transparent;
            font-size: 48px;
            // font-family: "Cute Font";
            color: white;
            &:hover {
                background-color: #555;
            }
        }
    
        .to_register_login {
            width: 240px;
            height: 60px;
            background-color: transparent;
            font-size: 48px;
            // font-family: "Cute Font";
            color: white;
            border: 5px #c1c1c1 solid;
            &:hover {
                background-color: #555;
            }
        }
    }

}
.login_loading {
    // position:absolute;
    // bottom: 0;
    // left: 0;
    font-size: 32px;
    color:white;
    display:flex;
    margin-left:20px;
    align-items: center;
    gap:20px;

    p {
        margin: 0;
    }
}
.preload {
    visibility: hidden;
    .eye_shut {
        background-image:url("../Images/closed-eye.svg");
    }
}


/* Move to it's own file: Spinner | Component */
.spinner {
    border: 2px transparent solid;
    border-top-color: #c1c1c1;
    border-right-color: white;
    height: 20px;
    width: 20px;
    border-radius:50%;
    animation: loading infinite 0.5s linear
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}


/* Log */

.page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar.log {
    color: white;
    // font-size: 24px;

    h1 {
        margin-right: 30px;
    }

    div h2 {
        font-size: 32px;
        margin: 0;
    }

    .center_text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        &.h2:hover {
            background-color:#555;
            cursor:pointer;
        }
    }

    .profile {
        margin-left: auto;
        margin-right:0;
        display: flex;
        flex-direction: column;
        padding:0;

        .dropstem {
            cursor:pointer;
            z-index: 20;
            width:180px;
            height:100%;
            background-color: #353535;
            display: flex;
            justify-content: center;
            align-items: center;
        }

              
        h3 {
            font-size: 24px;
            margin: 0;
            background-color: #353535;
            z-index: 100;
        }

        &:hover .dropdown {
            pointer-events: all;
            transform: translateY(150px);
            z-index:1;

            // .log_out {
            //     background-color: #555;
            // }

        }

        .dropdown {
            // opacity:0;
            z-index:1;
            pointer-events: none;
            font-size: 32px;
            position:absolute;
            right:0;
            top:-100px;
            height:100px;
            width:180px;
            text-align: center;
            background-color:#353535;
            display:flex;
            flex-direction: column;
            border-bottom-left-radius: 5px;
            // justify-content: space-evenly;
            
            transition: transform 0.3s;

            .log_out {
                background-color: #353535;
                border: none;
                margin:0;
                // width: 180px;
                height:50px;
                font-size: 32px;
                color:white;

                display:flex;
                justify-content: center;
                align-items: center;

                .spinner {
                    height:30px;
                    width:30px;
                }
                &:hover {
                    background-color: #555;
                }
            }

            div {
                height:50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;


                &:hover {
                    background-color: #555;

                }
                
            }

            .change_password {
                font-size: 24px;
                border-bottom-left-radius: 5px;
            }
        }
    }

    @media (width < 1380px) {
        div h2 {
            font-size: 24px;
        }        
    }
    // @media (width < 1150px) {


    
}

.log_container {
    transition: margin-left 0.3s;
}
.active_filter {
        margin-left: calc(100% - 1000px);
}
.exercise_filter {
    transition: left 0.3s;
    position:fixed;
    width:calc(100% - 1000px);
    height:100%;
    background-color:#353535;
    // top:50px;
    left: calc(-100% + 1000px);

    @media (width < 1250px) {
        & {
            width: 250px;
            left: -250px;
        }

    }

    &.active_exercise_filter {
        $distance: calc(50% - 500px);
        left: 0px;
    }

    display:flex;

    .filter_set{
        margin-top:50px;
        display:flex;
        flex-direction: column;
        gap:20px;
        width:100%;

        overflow-y:scroll;

        scrollbar-width:thin;
        &::-webkit-scrollbar {
            display:none;
        }
        
        button {
            width:fit-content;
            font-size:32px;

            align-self: center;

            color:white;
            background-color:#353535;
            border: none;
            border-radius: 5px;


            &:hover {
                background-color: #555;
            }
        }

        label {
            font-size: 20px;
            color: white;
            margin-left:5px;
        }

    }
}

.filter_bar {
    width: 1000px;
    height: 50px;
    background-color:#353535;
    margin-top: 25px;

    display: flex;
    align-items: center;

    h1 {
        margin-right: 20px;
    }

    label {
        font-size: 32px;
        color: white;
        padding-left: 20px;
        padding-right: 10px;
    }

    input {
        width: 135px;
        text-indent: 0.2ch;
        height: 30px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        font-family: "Cute Font";
    }
    
    select {
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        font-size: 26px;
        height: 30px;
        line-height: 3px;
        font-family: "Cute Font";
        option {
            font-family: "Cute Font";
        }
    }

    button {
        color: white;
        font-size: 32px;
        font-family:"Cute Font";
        background-color: transparent;
        border: none;
        margin-right: auto;
        margin-left: auto;
        &:hover {
            border-radius: 5px;
            background-color: #555;
        }
        // height: 40px;
    }
}

.all_entries_container {

    width: 1000px;
    border:#353535 4px solid;
    background-color: #d9d9d9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.entry_container {
    font-size: 32px;
    margin:auto;
    padding-top: 10px;
    width: 900px;

    .top_line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:5px;

        button {
            font-size: 32px;
            border: none;
            background-color: transparent;

            &:hover {
                background-color:#999;
                border-radius: 5px;
            }

            &.delete {
                padding:0 4px;
                background-color:#fd6363;
                border-radius: 5px;
                
                &:hover {
                    background-color:#fd0000;

                }
            }
        }
    }
    .exercise_line {
        display:flex;
        justify-content: space-around;
    }
}

.return_to_top {
    border-radius:50%;
    background-color: #353535;
    width:80px;
    height: 80px;
    position:fixed;
    right: 50px;
    bottom:50px;
    font-size:50px;
    color: #d9d9d9;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Add component */
.exercise_list_container {
    background-color:#353535;
    position:fixed;
    width:250px;
    height:100%;

    left:0;
}
.exercise_list {
    color: white;
    width:100%;
    padding-left: 10px;
    box-sizing: border-box;
    height:calc(100% - 50px);
    margin-top:50px;
    // padding-bottom:100px;
    overflow-y:scroll;
    scrollbar-width:thin;
    &::-webkit-scrollbar {
        display: none;
    }

    label {
        color: white;

    }
}

.add_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 250px);

    div {
        padding: 2px 0;
    }

    label {
        font-size: 32px;
        color: black;
        padding-left: 20px;
        padding-right: 10px;
    }

    input {
        // width: 135px;
        text-indent: 0.2ch;
        height: 30px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        font-size: 32px;
        font-family: "Cute Font";
    }

    

    .exercise_fieldset {
        width:100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        border: 4px #353535 solid;
        background-color:#d9d9d9;
        margin-bottom:-4px;

        input, select {
            background-color: #c1c1c1;
            text-indent: 0.5ch;
            width:5ch;
        }

        button {
            background-color: #c1c1c1;
            border-radius:5px;
            font-size: 24px;
        }

        input.variation {
            text-indent: 1ch;
            width: 12ch;
        }

        .number_container {
            width: 100%;

            .macro_container {
                .top_line {
                    display: flex;
                    justify-content: center;
                }

                .bottom_line {
                    display: flex;
                    justify-content: center;
                }

                input, select {
                    width: fit-content;
                    font-family: "Cute Font";
                    font-size: 32px;
                    border-radius: 5px;
                    width:9ch;
                }

            }
            .set_line {
                display: grid;
                grid-template-columns: 0.5fr 1fr 1fr 1fr;
                justify-items:center;
                width: 100%;
            }
        }

        .template_container {
            width: 100%;
        }
        .template_line {
            overflow-x: auto;
            scrollbar-width: thin;
            white-space: nowrap;
            padding-left: 10px;
            select, option {
                font-family:"Cute Font";
                font-size: 25px;
                // height: 20px;
                width: fit-content;
            }

            &::-webkit-scrollbar {
                display:none;
            }
        }
        .custom_container {
            display:flex;
            justify-content: center;
        }
    }
    
    form {
        max-width: 1000px;
        width: calc(100% - 250px);

        margin-left:250px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .add_submit {
            width: 150px;
            border-radius: 5px;
            border: #353535 2px solid;
            background-color:#5fb95f;
            font-size: 32px;
            position: fixed;
            bottom: 50px;
            right: 20px;
        }
    }
    h1 {
        color:black;
    }
}