/* 
    Contents
Login and Register - Line 101
Spinner - Line 271
Log - Line 290
Add - Line 763
Table - Line 1085
Graph - Line 1200
Calendar - Line 1280
Breakdown - Line 1488
Profile - Line 1577
Edit - Line 1684
*/

$font-size-1: 50px;
$font-size-2: 48px;
$font-size-3: 42px;
$font-size-4: 36px;
$font-size-5: 32px;
$font-size-6: 28px;
$font-size-7: 26px;
$font-size-8: 25px;
$font-size-9: 24px;
$font-size-10: 22px;
$font-size-11: 20px;

@font-face {
    font-family: "Cute Font";
    src: url("../Fonts/cutefont-regular-webfont.woff2");
}
html {
    height:100%;
    font-family: "Cute Font";
    scrollbar-width:thin;
    overflow-x:hidden;
    font-size: $font-size-5;

    &::-webkit-scrollbar {
        width: 5px;

    }
    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
    }
    &::-webkit-scrollbar-track {
        background-color: #353535;
    }
}

button {
    font-family: "Cute Font"
}

body {
    height: 100%;
    background-color:#c1c1c1;
    margin: 0;
   
}

h1::selection, label::selection, p::selection {
    background-color: #c1c1c1;
}

h1 {
    font-size: $font-size-2;
    margin:0;
    margin-left: 25px;
    color: white;
}

select {
    font-family: "Cute Font";
    font-size: $font-size-9;
    background-color: #c1c1c1;
    border-radius:5px;
    border: none;
}

button {
    font-size: $font-size-9;
    border: black 1px solid;
    font-family: "Cute Font";
    background-color: transparent;
}
input {
    font-family: "Cute Font";
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
}


.navbar {
    z-index:1000;
    width: 100%;
    height: 50px;
    background-color: #353535;
    display:flex;
}

/* Login and Register Pages */

.login_container {
    width: 620px;
    background-color:#353535;
    height: 500px;
    border-radius: 10px;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    @media (width < 630px) {
        border-radius: 0;
        width:100%;
    }
    @media (width < 530px) {
        grid-template-rows: 1fr 2fr 2fr 2.5fr;
    }
    
    h1 {
        margin:0;
        // margin-top: 20px;
        align-self:center;
        text-align: center;
    }

    
    div {
        display: flex;
        // position:relative;
        align-items: center;
        @media (width < 630px) {
            justify-content: space-around;
            flex-wrap:wrap;
        }
    }

    div:nth-of-type(2) span {
        position: relative;
    }
    
    div > label {
        color: white;
        font-size: $font-size-2;
        margin: auto 30px;
        @media (width < 630px) {
            margin: auto 10px;
        }
    }
    div > input, div > span > input {
        width: 370px;
        border: none;
        height: 60px;
        border-radius:5px;
        font-family: "Cute font";
        text-indent: 1ch;
        background-color: #c1c1c1;
        
        font-size:$font-size-2;
        vertical-align: middle;

        outline:invert;

        @media (width < 400px) {
            box-sizing: border-box;
            width:350px;
        }

        &:focus {
            outline:black solid 5px;
        }

        &::selection {
            background-color:black;
            color:#c1c1c1;
        }

    }

    .show_password {
        width: 25px;
        height:25px;
        background-color:transparent;
        border:none;
        position: absolute;
        top:50%;
        right:2%;
        transform:translate(0, -50%);
        outline: none;
        user-select:none;
        z-index: 10;
        background-image:url("../Images/eye.svg");
    }
    .eye_shut {
        background-image:url("../Images/closed-eye.svg");
    }

    .button_container {

        display: flex;
        justify-content: space-evenly;

        .login_register {
            width: 275px;
            height: 60px;
            border: #c1c1c1 solid 5px;
            background-color: transparent;
            font-size: $font-size-2;
            // font-family: "Cute Font";
            color: white;
            &:hover {
                background-color: #555;
            }
        }
    
        .to_register_login {
            width: 240px;
            height: 60px;
            background-color: transparent;
            font-size: $font-size-2;
            // font-family: "Cute Font";
            color: white;
            border: 5px #c1c1c1 solid;
            &:hover {
                background-color: #555;
            }
        }
    }

}
.login_loading {
    // position:absolute;
    // bottom: 0;
    // left: 0;
    font-size: $font-size-5;
    color:white;
    display:flex;
    margin-left:20px;
    align-items: center;
    gap:20px;

    p {
        margin: 0;

        @media (width < 520px) {
            position:absolute;
            display:block;
            transform: translateX(-50%);
            left:50%;
            width:max-content;
            top:55px;
            padding:0 10px;
            border-radius: 5px;
            background-color: #35353550;
        }
    }
}
.preload {
    visibility: hidden;
    .eye_shut {
        background-image:url("../Images/closed-eye.svg");
    }
}


/* Move to it's own file: Spinner | Component */
.spinner {
    border: 2px transparent solid;
    border-top-color: #c1c1c1;
    border-right-color: white;
    height: 20px;
    width: 20px;
    border-radius:50%;
    animation: loading infinite 0.5s linear
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}


/* Log */

.page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar.log {
    color: white;
    // font-size: $font-size-9;

    h1 {
        line-height:50px;
        margin-right: 30px;
    }

    @media (width < 405px) {
        h1 {
            margin: 0 10px;
        }
    }

    div h2 {
        font-size: $font-size-5;
        margin: 0;
    }

    .calc_svg {
        background-image: url("../Images/calculator.svg");
        width:30px;
        height:30px;
    }
    .graph_svg {
        background-image: url("../Images/graph.svg");
        width:30px;
        height:30px;
    }
    .list_svg {
        background-image: url("../Images/list.svg");
        width:30px;
        height:30px;
    }
    .calendar_svg {
        background-image: url("../Images/calendar.svg");
        width:30px;
        height:30px;
    }
    .add_svg {
        background-image: url("../Images/add.svg");
        width:30px;
        height:30px;
    }
    .return_svg {
        background-image: url("../Images/return.svg");
        width:30px;
        height:30px;
    }
    .palette_svg {
        background-image: url("../Images/palette.svg");
        width:30px;
        height:30px;
    }

    .center_text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        padding-top:2px;
        box-sizing: border-box;
        &.h2:hover {
            background-color:#555;
            cursor:pointer;
        }
    }

    .log_button_container {
        display:flex;
    }
    @media (width < 810px) {
        .log_button_container {
            position:absolute;
            top:50px;
            height:50px;
            left:-400px;
            background-color: #353535;
            border-bottom-right-radius: 5px;
            transition: transform 0.3s;
        }
        h1:hover ~ .log_button_container, .log_button_container:hover {
            transform: translateX(400px);
        }
    } 
    
    @media (width < 516px) {
        h1:hover ~ .add_button_container, .add_button_container:hover {
            left:0 !important;
        }
        
        .add_button_container:hover > div {
            border-bottom-right-radius: 5px;
        }
    }
    @media (width < 560px) {
        h1:hover ~ .calendar_button_container, .calendar_button_container:hover {
            left:0 !important;
        }
    }

    .profile {
        margin-left: auto;
        margin-right:0;
        display: flex;
        flex-direction: column;
        padding:0;

        .dropstem {
            cursor:pointer;
            z-index: 20;
            width:180px;
            height:100%;
            background-color: #353535;
            display: flex;
            justify-content: center;
            align-items: center;
        }

              
        h3 {
            font-size: $font-size-9;
            margin: 0;
            background-color: #353535;
            z-index: 100;
        }

        &:hover .dropdown {
            pointer-events: all;
            transform: translateY(150px);
            z-index:1;

            // .log_out {
            //     background-color: #555;
            // }

        }

        .dropdown {
            // opacity:0;
            z-index:1;
            pointer-events: none;
            font-size: $font-size-5;
            position:absolute;
            right:0;
            top:-100px;
            height:100px;
            width:180px;
            text-align: center;
            background-color:#353535;
            display:flex;
            flex-direction: column;
            border-bottom-left-radius: 5px;
            // justify-content: space-evenly;
            
            transition: transform 0.3s;

            .log_out {
                background-color: #353535;
                border: none;
                margin:0;
                // width: 180px;
                height:50px;
                font-size: $font-size-5;
                color:white;

                display:flex;
                justify-content: center;
                align-items: center;

                .spinner {
                    height:30px;
                    width:30px;
                }
                &:hover {
                    background-color: #555;
                }
            }

            div {
                height:50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;


                &:hover {
                    background-color: #555;

                }
                
            }

            .change_password {
                font-size: $font-size-9;
                border-bottom-left-radius: 5px;
            }
        }
    }

    @media (width < 1380px) {
        div h2 {
            font-size: $font-size-9;
        }        
    }
    // @media (width < 1150px) {


    
}

.log_container {
    transition: margin-left 0.3s;
    width:100%;
    max-width:1000px;
}
.active_filter {
    margin-left: 250px;
}
.exercise_filter {
    transition: left 0.3s;
    position:fixed;
    width:250px;
    height:100%;
    background-color:#353535;
    // top:50px;
    left: -250px;

    &.active_exercise_filter {
        left: 0px;
    }

    display:flex;

    .filter_set{
        margin-top:50px;
        display:flex;
        flex-direction: column;
        // gap:20px;
        width:100%;

        overflow-y:auto;

        scrollbar-width:thin;
        &::-webkit-scrollbar {
            display:none;
        }

        
        button {
            width:fit-content;
            font-size: $font-size-5;

            align-self: center;

            color:white;
            background-color:#353535;
            border: none;
            border-radius: 5px;

            &.filter {
                font-size:$font-size-9;
            }


            &:hover {
                background-color: #555;
            }
        }

        label {
            font-size: $font-size-11;
            color: white;
            margin-left:5px;
        }

        .variation_container {
            display:flex;
            justify-content: space-around;
            flex-wrap:wrap;

            label {
                white-space: nowrap;
                font-size: $font-size-9;
            }
        }

    }
}

.filter_bar {
    width: 100%;
    min-height: 50px;
    background-color:#353535;
    margin-top: 25px;

    display: flex;
    align-items: center;
    flex-wrap:wrap;

    @media (width < 810px) {
        & {
            justify-content: space-around;
        }
    }

    h1 {
        margin-right: 20px;
    }

    label {
        font-size: $font-size-5;
        color: white;
        padding-left: 20px;
        padding-right: 10px;
    }

    input {
        width: 135px;
        text-indent: 0.2ch;
        height: 30px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        font-size: $font-size-9;
        font-family: "Cute Font";
    }
    
    select {
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        font-size: $font-size-7;
        height: 30px;
        line-height: 3px;
        font-family: "Cute Font";
        option {
            font-family: "Cute Font";
        }
    }

    button {
        color: white;
        font-size: $font-size-5;
        font-family:"Cute Font";
        background-color: transparent;
        border: none;
        margin-right: auto;
        margin-left: auto;
        &:hover {
            border-radius: 5px;
            background-color: #555;
        }
        // height: 40px;
    }
}

.all_entries_container {

    width: 100%;
    border:#353535 4px solid;
    padding-bottom:5px;
    margin-bottom:25px;
    background-color: #d9d9d9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.entry_container {
    font-size: $font-size-5;
    margin:auto;
    padding-top: 10px;
    max-width: 900px;
    width:100%;

    @media (width < 450px) {
        .top_line {
            flex-direction:column;
        }
    }

    .top_line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:5px;
        flex-wrap:wrap;
        
        @media (width < 850px) {
            & {
                justify-content: space-around;
            }
        }

        button {
            font-size: $font-size-5;
            border: none;
            background-color: transparent;

            &:hover {
                background-color:#999;
                border-radius: 5px;
            }

            &.delete {
                padding:0 4px;
                background-color:#fd6363;
                border-radius: 5px;
                
                &:hover {
                    background-color:#fd0000;

                }
            }
        }
    }
    @media (width < 550px) {
        .exercise_line {
            flex-direction: column;
            align-items: center;
            gap:10px;
            text-align:center;
        }
    }

    .exercise_line {
        display:flex;
        justify-content: space-around;
        text-align:center;
    }
}

.log_spinner {
    position:fixed;
    bottom: 2%;
    background-color: #35353550;
    border-radius: 5px;
    padding:2px;
}

.return_to_top {
    border-radius:50%;
    background-color: #353535;
    width:80px;
    height: 80px;
    position:fixed;
    right: 30px;
    bottom:30px;
    font-size:$font-size-1;
    color: #d9d9d9;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media (width < 550px) {
        width: 50px;
        height: 50px;
        padding: 0;
        font-size:30px;
    }
}

/* Add component */
.exercise_list_container {
    background-color:#353535;
    position:fixed;
    width:250px;
    height:100%;

    left:0;

    @media (width < 680px) {
        left:-250px;
        transition: left 0.3s;
        z-index: 10;
        &.active {
            left:0;
        }
    }
}
.add_exercise_list_toggle {
    position:absolute;
    right:5px;
    top:55px;
    height:30px;
    width:30px;
    border-radius: 50%;
    padding: 20px;
    background-color: #353535;
    color: white;
    border:0;

    background-image: url("../Images/weight.svg");
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
}
.exercise_list {
    color: white;
    width:100%;
    padding-left: 10px;
    box-sizing: border-box;
    height:calc(100% - 50px);
    margin-top:50px;
    // padding-bottom:100px;
    overflow-y:scroll;
    scrollbar-width:thin;
    &::-webkit-scrollbar {
        display: none;
    }

    label {
        color: white;

    }
}

.add_spinner {
    display:flex;
    justify-content: center;
    margin-left:250px;
    .spinner {
        border-top-color: #d9d9d9;
        border-right-color: #c1c1c1;
        padding:0;
    }

    position:fixed;
    transform: translate(-50%, -50%);
    
    top: 25px;
    z-index:10000;
    background-color:#35353550;
    border-radius:5px;

    @media (width < 680px) {
        margin:0;
        left:50%;
    }
}

.add_button_container {
    display:flex;
    @media (width < 516px) {
        position:absolute;
        left:-80px;
        // transform: translateX(-100%);
        transition: left 0.3s;
        background-color:#353535;
        height:50px;
        top:50px;
        border-bottom-right-radius: 5px;
    }    
}

.add_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 250px);

    @media(width < 680px) {
        width: 100%;
    }

    div {
        padding: 2px 0;
    }

    label {
        font-size: $font-size-5;
        color: black;
        padding-left: 20px;
        padding-right: 10px;
    }

    input {
        // width: 135px;
        text-indent: 0.2ch;
        height: 30px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        font-size: $font-size-5;
        font-family: "Cute Font";
    }

    

    .exercise_fieldset {
        width:100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        border: 4px #353535 solid;
        background-color:#d9d9d9;
        margin-bottom:-4px;
        // font-size: $font-size-5;

        @media (width < 1050px) {
            border-right: 0;
            border-left: 0;
        }

        input, select {
            background-color: #c1c1c1;
            text-indent: 0.5ch;
            width:5ch;
        }

        button {
            background-color: #c1c1c1;
            border-radius:5px;
            font-size: $font-size-6;
        }

        

        input.variation {
            text-indent: 1ch;
            width: 12ch;
        }

        .number_container {
            width: 100%;

            .macro_container {
                .top_line {
                    display: flex;
                    justify-content: center;
                    @media (width < 680px) {
                        flex-wrap:wrap;
                        row-gap: 10px;
                    }
                }

                .bottom_line {
                    display: flex;
                    justify-content: center;
                }

                input, select {
                    width: fit-content;
                    font-family: "Cute Font";
                    font-size: $font-size-5;
                    border-radius: 5px;
                    width:9ch;
                }

            }
            .set_line {
                display: grid;
                grid-template-columns: 0.5fr 1fr 1fr 1fr;
                justify-items:center;
                width: 100%;

                input {
                    width: 7ch;
                }

            }
        }

        .template_container {
            width: 100%;
        }
        .template_line {
            padding-left: 10px;
            white-space: nowrap;
            display: flex;
            align-items: center;

            select, option {
                font-family:"Cute Font";
                font-size: $font-size-8;
                text-indent:0.25ch;
                // height: 20px;
                width: fit-content;
            }
            
            .tag_container {
                overflow-x: auto;
                scrollbar-width: none;
                white-space: nowrap;
                display:inline-block;
                // width: 100%;

                &::-webkit-scrollbar {
                    display:none;
                }
                
            }

        }
        .custom_container {
            display:flex;
            justify-content: center;
        }
    }
    
    form {
        max-width: 1000px;
        width: calc(100% - 250px);

        margin-left:250px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (width < 1050px) {
            width: 100%;
        }

        @media (width < 680px) {
            margin:0;
        }

        .add_submit {
            width: fit-content;
            border-radius: 5px;
            border: #353535 2px solid;
            background-color:#5fb95f;
            font-size: $font-size-5;
            position: fixed;
            bottom: 50px;
            right: 20px;

            @media (width < 680px) {
                bottom: 15px;
            }
        }

        .date_container {
            margin-bottom:10px;

            label {
                padding:0;
            }

            label h1 {
                margin:0 auto;
                // color: red;
                width: fit-content;
            } 
            input {
                height:fit-content;
            }
        }

    }
    .return_to_top.add_component {
        left: 270px;
        // right: 20px;

        @media (width < 900px) {
            width: 40px;
            height: 40px;
            font-size:25px;
            padding:0;

        }

        @media (width < 680px) {
            left: 20px;
            bottom: 15px;
        }
    }
    h1 {
        color:black;
    }
}

.feedback_container_add {
    position:fixed;
    bottom:10px;
    background-color: #fd636325;
    font-variant: small-caps;
    text-align: center;
    border-radius:5px;
    padding: 0 15px !important;
    margin-left:250px;
}


/* Tonnage section */

.tonnage_container{
    width: 100%;
}


.tonnage_table_container {
    height: calc(100% - 250px);
    margin-left:230px;
    color: black;
    transition: margin-left 0.3s;

    .tableGridContainer {
        display: flex;

        // width: 100%;
        // grid-template-columns: repeat(7, auto);
        justify-content: space-around;
        align-items: center;
        text-align: center;

        &.top_line {
            border-bottom:#353535 5px solid;
        }
    }

    strong {
        margin-left:5px;
    }

    &.active_tonnage_table_container {
        margin-left: 0;
    }

    .sidebar {
        top: 0 ;
        position:fixed;
        background-color: #353535;
        height: 100%;
        width: 230px;
        left:0;
        transition: left 0.3s;
        
        
    }
    
    .options_container {
        overflow-y:auto;
        scrollbar-width: thin;
        color: white;
        margin-top: 50px;
        height:calc(100% - 50px);
        
        &::-webkit-scrollbar {
            width: 5px
        }
        &::-webkit-scrollbar-thumb {
            background-color: #c1c1c1;
        }
        &.active_options_container {
            left:-230px;
        }
        
        fieldset {
            margin:0;
            border: 0;
            padding:0;
            padding-left: 5px;


            button {
                color: white;
                background-color: transparent;
                border: none;
                font-size: $font-size-5;
            }

            label {
                font-size: $font-size-5;
            }

            div > label {
                font-size: $font-size-9;
            }

            select {
                background-color: #d9d9d9;

            }

            input {
                background-color: #d9d9d9;
                font-family:"Cute Font";
                font-size: $font-size-9;
                text-indent: 0.5ch;
                border:none;
                border-radius:5px;
                
                &[maxLength='2'] {
                    width:3ch;
                    
                }
            }

            .filter button {
                font-size: $font-size-9;
            }
            
        }

    }
}

/* Graph section */

.graph_page_container {
    width: 100%; 
    height: calc(100% - 50px);
    position:fixed;
    align-items: center;
    justify-content: center;

    fieldset {
        padding: 0;
        margin:0;

        border: none;

        display: flex;
        justify-content: space-between;
        margin-left: 1%;

        .data_range {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            
        }

        &.bottom_line {
            margin-right:1%;
        }

    }
    
}

.graph_page_container_2 {

    select {
        background-color: #d9d9d9;
    }

    input {
        background-color: #d9d9d9;
        // font-family:"Cute"
        font-size: $font-size-10;
    }

    height:100%; 
    display:flex;
    width: 100%;
    flex-direction:column;

    .top_line {
        display: flex;
        justify-content: space-around;
        margin-left: 1%;

        &.variations {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
        }
    }
    
}

.graph_container {
    background-color: #d9d9d9;
    padding:10px;
    border-top:#353535 5px solid;
    overflow:auto;
    scrollbar-width: none;
    width: auto;
    max-width:100%;
    height:100%;

    &::-webkit-scrollbar {
        display:none;
    }
}

/* Calendar Section */

// @keyframes to_right {
//     from {
//         transform: translateX(-50%);
//         left:50%;
//     }
//     to {
//         transform: translateX(-100%);
//         left:100%;
//     }
// }
// @keyframes to_center {
//     from {
//         transform: translateX(-100%);
//         left:100%;
//     }
//     to {
//         transform: translateX(-50%);
//         left:50%;
//     }
// }

.rectangle:hover {
    stroke-width: 2px;
    stroke: black;
}
.rectangle.with_session {
    cursor: pointer;
}

.calendar_button_container {
    display:flex;
    @media (width < 560px) {
        position: absolute;
        background-color: #353535;
        left:-160px;
        top:50px;
        height:50px;
        border-bottom-right-radius: 5px;
        transition:left 0.3s;
    }
    & > div:last-of-type:hover {
        border-bottom-right-radius: 5px;
    }
}
.calendar_page_container {
    // width: 100%;

    .calendar_container {
        position: absolute;
        display: flex;
        
        transform:translateX(-50%);
        left:50%;
        // width: 100%;
        transition:left 0.3s;
        // overflow:scroll;
        // animation: to_center 0.3s ease forwards;
        
        .calendar {
            border-left:#353535 15px solid;
            border-right:#353535 15px solid;
        }
        @media (width < 950px) {
            transform:translateX(-50%) scale(90%);
            border: #353535 15px solid;
            box-sizing: border-box;
            .calendar {
                border:0;
            }
        }
        @media (width < 850px) {
            transform:translateX(-50%) scale(80%);
        }
        @media (width < 750px) {
            transform:translateX(-50%) scale(70%);
        }
        @media (width < 650px) {
            transform:translateX(-50%) scale(60%);
        }
        @media (width < 560px) {
            transform:translateX(-50%) scale(50%);
        }
        @media (width < 475px) {
            transform:translateX(-50%) scale(40%);
        }
        
        &.calendar_container_active {
            left: calc(50% + 100px);
            // animation: to_right 0.3s ease forwards;
        }
        
    
        .calendar_control {
            position:absolute;
            font-size:$font-size-6;
            top:0;
            right:15px;
            outline:none;
            border:none;
    
            
            input {
                font-size: $font-size-9;
    
                // width: 7ch;
                // text-indent: 0.5ch;
                
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .colour_container {
        background-color:#353535;
        position:fixed;
        top:0;
        left: -200px;
        width: 200px;
        height: 100%;
        transition: left 0.3s;

        color: white;
        display: flex;
        flex-direction: column;

        &.colour_container_active {
            left:0;
        }

        .colour_frame {

            margin-top:50px;
            height:100%;
            display:flex;
            flex-direction: column;
            justify-content: space-between  ;
            
            overflow-y:auto;
            scrollbar-width: none;
            
            &::-webkit-scrollbar {
                display: none;
            }
            
            .colour_scroll {
                height:100%;
                overflow-y:auto;
                scrollbar-width: thin;
                
                &::-webkit-scrollbar {
                    background-color: #353535;
                    width: 5px;
                }
    
                &::-webkit-scrollbar-thumb {
                    background-color: #c1c1c1;
                }
            }

            span {
                pointer-events: none;
                user-select: none;
                text-indent: 10px;
                z-index:1;
            }

            label {
                display: flex;
                justify-content: space-between;
                position:relative;
            }
    
            select {
                position: absolute;
                width: 100%;
                color:white;
                border:#353535 5px solid;
                pointer-events: all;
                scrollbar-width: thin;
                z-index:0;
                &:hover {
                    cursor:pointer;
                }
            }
    
            option {
                width: 100%;
            }
    
            button {
                align-self: center;
                width: 95%;
                box-sizing: border-box;
                border: 0;
                border-radius: 5px;
                background-color: #555;
                color: white;
    
            }
        }

    }

}

/* Breakdown Section */

.breakdown_container {
    width: 80%;
    margin-top:25px;
    margin-bottom: 25px;
    background-color:#d9d9d9;
    border-right:#353535 5px solid;
    border-left:#353535 5px solid;
    border-bottom:#353535 5px solid;

    display:flex;
    flex-direction: column;

    align-items: center;

    h1 {
        color: black;
        width:fit-content;
        margin:0;
    }

    .button_container {
        background-color:#353535;
        width:100%;
        margin-bottom:10px;
        display:flex;
        justify-content: space-around;

        button {
            background-color: transparent;
            border:0;
            // padding:0;
            margin:0;
            color: white;
            font-size:$font-size-6;

            &:hover {
                background-color: #555;
            }
        }
    }

    .session_aggregates {
        width: 100%;
        font-size:$font-size-3;
        display: flex;
        justify-content: space-around;
    }

    .show_exercises {
        width: 100%;
        margin-top:10px;
        background-color:#353535;
        color:white;
        display:flex;
        justify-content: space-evenly;
    }

    .exercise_container {
        width: 80%;
        font-size: $font-size-3;
        h2 {
            margin:0;
            text-align:center;
        }

        .top_line {
            display:flex;
            justify-content: space-between;
        }
        .second_line {
            display:flex;
            justify-content: space-between;
        }
        .set_lines {
            display:grid;
            grid-template-columns: repeat(4,1fr);
            justify-items: center;
        }
    }

    .return_to_top {
        transform: translateX(50%);
        right:5%;

    }
}

/* Profile section */

.profile_container {
    background-color: #353535;
    border:#555 5px double;
    border-radius: 5px;
    margin-top:25px;
    color:white;
    width: 40%;
    padding:15px;
    box-sizing:border-box;

    display:flex;
    flex-direction: column;

    h1 {
        text-align: center;
        margin-left:0;
        // margin-bottom: 15px;
    }
    
    hr {
        width: 80%;
        color:#555;
    }

    form {
        display:flex;
        flex-direction: column;
    }

    label {
        display: flex;
        justify-content: space-between;
        padding: 15px;

        input {
            width: 50%;
            font-size: $font-size-5;
            text-align: center;
        }

        &:first-child {
            position: relative;
        }
    }

    button {
        color:white;
        border: #555 5px solid;
        margin:0;
        font-size: $font-size-2;
        margin-top:15px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;


        &:hover {
            background-color: #555;
        }
    }

    .show_password {
        width: 25px;
        height:25px;
        background-color:transparent;
        border:none;
        position: absolute;
        // margin-left:-40px;
        margin:0;
        transform: translate(-50%,-50%);
        top:50%;
        right:2%;
        outline: none;
        user-select:none;
        z-index: 10;
        background-image:url("../Images/eye.svg");
        &:hover {
            background-color: transparent;
        }
    }
    .eye_shut {
        background-image:url("../Images/closed-eye.svg");
    }


    .profile_response {
        position:fixed;
        transform: translate(-50%,-50%);
        left:50%;
        background-color:#353535;
        border:#555 double 5px;
        border-radius:5px;
        padding: 0 15px;
        bottom:10px;
    }

    .profile_spinner {
        position:fixed;
        top:25px;
        left:50%;
        z-index:10000;
        transform: translate(-50%,-50%)
    }

}

 /* Edit section */

 .edit_page_container {
    position:absolute;
    left:205px;
    top:50px;
    display:flex;
    justify-content: center;
    width:calc(100% - 205px);
    @media (width < 715px) {
        left: 0;
        width:100%;
    }
 }

 .edit_container {

    background-color: #d9d9d9;
    border-right:#353535 5px solid;
    border-left:#353535 5px solid;
    border-bottom:#353535 5px solid;
    width: 90%;

    @media (width < 910px) {
        width:100%;
        border-left:0;
        border-right: 0;
    }

    div {
        margin: 10px 0;
    }

    input {
        font-size: $font-size-5;
        height:min-content;
        width: 8ch;
    }
    
    select {
        font-size: $font-size-5;
        height: min-content;
    }
    
    button {
        font-size: $font-size-5;
        border-radius:5px;
        border: none;

    }

    .top_buttons {
        background-color:#353535;
        margin-top:5px;
        display: flex;
        justify-content: space-around;
        button {
            color: white;
            border: none;
            margin:0;
            // padding:0;            

            &:hover {
                background-color:#555;

            }
        }
    }

    .date_line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        margin:10px 0;

        label {
            font-size: $font-size-3;
        }

        input {
            width: 13ch;
            font-size: $font-size-5;
            background-color: #c1c1c1;

            @media (width < 515px) {
                font-size: $font-size-6;
            }

            &:last-of-type {
                width: 11ch;
            }
        }

        
    }

    .existing_exercise, .added_fieldset {
        margin: 0 15px;

        @media (width < 515px) {
            margin: 0 5px;
        }

        font-size:$font-size-4;

        input {
            background-color:#c1c1c1;
            font-size: $font-size-5;
        }

        button {
            background-color: #c1c1c1;
        }

        .top_line {
            display: flex;
            justify-content: space-between;
            align-items: center;

            strong {
                font-size:$font-size-3;
                &.added {
                    text-decoration: underline;
                    text-decoration-color: #5fb95f;
                    text-decoration-thickness: 4px;
                }
            }

            button {
                border: 0;
                background-color:#fd6363;
                height:fit-content;
                border-radius:5px;
                font-size: $font-size-5;
            }

        }

        .second_line {
            display:flex;
            justify-content: center;

            input {
                width: 3ch;
                text-indent: 0.5ch;
            }
        }

        .macro_line_one, .macro_line_two {
            display: flex;
            justify-content:space-around;
            flex-wrap:wrap;
            
            input {
                width: 6ch;
                text-indent: 0.5ch;
            }
        }

        .set_line {
            display:grid;
            justify-items: start;
            grid-template-columns: 0.5fr 1fr 1fr 1fr;

            @media (width < 841px) {
                display: flex;
                justify-content: space-between;
            }

            
            input {
                width: 7ch;
                text-indent: 0.5ch;
            }

            strong {
                justify-self: start;
            }
        }

        .template_controls {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom:0;

        }
        
        .templates_container {
            display: flex;
            justify-content: space-between;
            gap:10px;
            white-space: nowrap;
            overflow-x: auto;
            margin-top:0;

            scrollbar-width: thin;


            &::-webkit-scrollbar {
                height:5px;
                background-color: #c1c1c1;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #353535;
            }
            .template_container {
                margin:0;
            }
        }

        .custom_line {
            display: flex;
            justify-content: space-around;
        }
    }

}
.missing_exercises_container {
    position:fixed;
    height: 100%;
    background-color:#353535;
    width:205px;
    left: 0;
    top:0;
    transition: left 0.3s;

    @media (width < 715px) {
        left: -205px;
    }

    &.active {
        left:0;
    }
}
.missing_exercises {
    margin-top:50px;
    height:calc(100% - 50px);
    overflow-y: auto;
    display:flex;
    flex-direction: column;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #353535;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
    }

    button {
        color: white;
        border:none;
        border-radius: 5px;
        width:90%;
        text-align: start;

        &:hover {
            background-color:#555;
        }

        &.added_lift {
            color:#5fb95f;
        }
    }
}
.load_container_edit {
    position:fixed;
    transform: translate(-50%, -50%);
    z-index:10000;
    top: 25px;
    left: calc(50% + 102.5px);
    background-color:#35353550;
}
.feedback_container_edit {
    position:fixed;
    bottom:10px;
    background-color: #fd636325;
    font-variant: small-caps;
    text-align: center;
    border-radius:5px;
    padding: 0 15px;
}
.submit_button_edit {
    transform: translate(0%, 0%);
    position:fixed;
    bottom:15px;
    right: 15px;
    
    background-color:#5fb95f;
    border:#353535 2px solid;
    border-radius: 5px;
    font-size: $font-size-5;
}
.return_to_top_edit {
    position:fixed;
    height:50px;
    width:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #353535;
    color:white;
    border-radius:50%;
    bottom:75px;
    right:15px;
}

.edit_exercise_list_toggle {
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    bottom:5px;
    height:30px;
    width:30px;
    border-radius: 50%;
    // padding: 20px;
    background-color: #353535;
    color: white;
    border:0;

    background-image: url("../Images/weight.svg");
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;

    @media (width > 714px) {
        display:none;
    }
}