.spinner {
    border: 2px transparent solid;
    border-top-color: #c1c1c1;
    border-right-color: white;
    height: 20px;
    width: 20px;
    border-radius:50%;
    /* animation: loading infinite 0.5s linear */
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}